[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/GermanOdilov/nd-dotfiles-nvim
    branch = main
[submodule "config/awesome"]
	path = config/awesome
	url = https://github.com/GermanOdilov/nd-dotfiles-awesome
    branch = main
[submodule "ext/paru"]
	path = ext/paru
	url = https://github.com/Morganamilo/paru
[submodule "ext/refind-theme"]
	path = ext/refind-theme-regular
	url = https://github.com/bobafetthotmail/refind-theme-regular
